{% extends "build.base.j2" %}

{% block variables %}
{{ super() }}
ccflags = $ccflags $
    -I${srcroot}/src/include $
    -I${srcroot}/src/include/x86_64
{% endblock %}

{% block extra %}

build ${prefix}/include/ctype.h : cp ${srcroot}/src/include/ctype.h
    name = ${srcroot}/src/include/ctype.h
build ${prefix}/include/stddef.h : cp ${srcroot}/src/include/stddef.h
    name = ${srcroot}/src/include/stddef.h
build ${prefix}/include/stdint.h : cp ${srcroot}/src/include/stdint.h
    name = ${srcroot}/src/include/stdint.h
build ${prefix}/include/stdarg.h : cp ${srcroot}/src/include/stdarg.h
    name = ${srcroot}/src/include/stdarg.h
build ${prefix}/include/j6libc/size_t.h : cp ${srcroot}/src/include/j6libc/size_t.h
    name = ${srcroot}/src/include/j6libc/size_t.h
build ${prefix}/include/j6libc/wchar_t.h : cp ${srcroot}/src/include/j6libc/wchar_t.h
    name = ${srcroot}/src/include/j6libc/wchar_t.h
build ${prefix}/include/j6libc/int.h : cp ${srcroot}/src/include/j6libc/int.h
    name = ${srcroot}/src/include/j6libc/int.h
build ${prefix}/include/j6libc/wint_t.h : cp ${srcroot}/src/include/j6libc/wint_t.h
    name = ${srcroot}/src/include/j6libc/wint_t.h
build ${prefix}/include/j6libc/aux.h : cp ${srcroot}/src/include/j6libc/aux.h
    name = ${srcroot}/src/include/j6libc/aux.h
build ${prefix}/include/j6libc/max_align_t.h : cp ${srcroot}/src/include/j6libc/max_align_t.h
    name = ${srcroot}/src/include/j6libc/max_align_t.h
build ${prefix}/include/j6libc/null.h : cp ${srcroot}/src/include/j6libc/null.h
    name = ${srcroot}/src/include/j6libc/null.h
build ${prefix}/include/j6libc/cpp.h : cp ${srcroot}/src/include/j6libc/cpp.h
    name = ${srcroot}/src/include/j6libc/cpp.h
build ${prefix}/include/j6libc/int_widths.h : cp ${srcroot}/src/include/j6libc/int_widths.h
    name = ${srcroot}/src/include/j6libc/int_widths.h
build ${prefix}/include/j6libc/config.h : cp ${srcroot}/src/include/j6libc/config.h
    name = ${srcroot}/src/include/j6libc/config.h
build ${prefix}/include/j6libc/glue.h : cp ${srcroot}/src/include/j6libc/glue.h
    name = ${srcroot}/src/include/j6libc/glue.h
build ${prefix}/include/j6libc/sig_atomic_t.h : cp ${srcroot}/src/include/j6libc/sig_atomic_t.h
    name = ${srcroot}/src/include/j6libc/sig_atomic_t.h
build ${prefix}/include/j6libc/wctype_t.h : cp ${srcroot}/src/include/j6libc/wctype_t.h
    name = ${srcroot}/src/include/j6libc/wctype_t.h
build ${prefix}/include/wctype.h : cp ${srcroot}/src/include/wctype.h
    name = ${srcroot}/src/include/wctype.h
build ${prefix}/include/stdlib.h : cp ${srcroot}/src/include/stdlib.h
    name = ${srcroot}/src/include/stdlib.h
build ${prefix}/include/stdnoreturn.h : cp ${srcroot}/src/include/stdnoreturn.h
    name = ${srcroot}/src/include/stdnoreturn.h
build ${prefix}/include/wchar.h : cp ${srcroot}/src/include/wchar.h
    name = ${srcroot}/src/include/wchar.h
build ${prefix}/include/signal.h : cp ${srcroot}/src/include/signal.h
    name = ${srcroot}/src/include/signal.h
build ${prefix}/include/inttypes.h : cp ${srcroot}/src/include/inttypes.h
    name = ${srcroot}/src/include/inttypes.h
build ${prefix}/include/locale.h : cp ${srcroot}/src/include/locale.h
    name = ${srcroot}/src/include/locale.h
build ${prefix}/include/assert.h : cp ${srcroot}/src/include/assert.h
    name = ${srcroot}/src/include/assert.h
build ${prefix}/include/stdalign.h : cp ${srcroot}/src/include/stdalign.h
    name = ${srcroot}/src/include/stdalign.h
build ${prefix}/include/iso646.h : cp ${srcroot}/src/include/iso646.h
    name = ${srcroot}/src/include/iso646.h
build ${prefix}/include/float.h : cp ${srcroot}/src/include/float.h
    name = ${srcroot}/src/include/float.h
build ${prefix}/include/stdbool.h : cp ${srcroot}/src/include/stdbool.h
    name = ${srcroot}/src/include/stdbool.h
build ${prefix}/include/string.h : cp ${srcroot}/src/include/string.h
    name = ${srcroot}/src/include/string.h
build ${prefix}/include/time.h : cp ${srcroot}/src/include/time.h
    name = ${srcroot}/src/include/time.h
build ${prefix}/include/stdio.h : cp ${srcroot}/src/include/stdio.h
    name = ${srcroot}/src/include/stdio.h
build ${prefix}/include/errno.h : cp ${srcroot}/src/include/errno.h
    name = ${srcroot}/src/include/errno.h
build ${prefix}/include/limits.h : cp ${srcroot}/src/include/limits.h
    name = ${srcroot}/src/include/limits.h
build ${prefix}/lib/libc.a : cp ${builddir}/host/libc.a
    name = ${builddir}/host/libc.a

build install : phony | $
    ${prefix}/include/ctype.h $
    ${prefix}/include/stddef.h $
    ${prefix}/include/stdint.h $
    ${prefix}/include/stdarg.h $
    ${prefix}/include/j6libc/size_t.h $
    ${prefix}/include/j6libc/wchar_t.h $
    ${prefix}/include/j6libc/int.h $
    ${prefix}/include/j6libc/wint_t.h $
    ${prefix}/include/j6libc/aux.h $
    ${prefix}/include/j6libc/max_align_t.h $
    ${prefix}/include/j6libc/null.h $
    ${prefix}/include/j6libc/cpp.h $
    ${prefix}/include/j6libc/int_widths.h $
    ${prefix}/include/j6libc/config.h $
    ${prefix}/include/j6libc/glue.h $
    ${prefix}/include/j6libc/sig_atomic_t.h $
    ${prefix}/include/j6libc/wctype_t.h $
    ${prefix}/include/wctype.h $
    ${prefix}/include/stdlib.h $
    ${prefix}/include/stdnoreturn.h $
    ${prefix}/include/wchar.h $
    ${prefix}/include/signal.h $
    ${prefix}/include/inttypes.h $
    ${prefix}/include/locale.h $
    ${prefix}/include/assert.h $
    ${prefix}/include/stdalign.h $
    ${prefix}/include/iso646.h $
    ${prefix}/include/float.h $
    ${prefix}/include/stdbool.h $
    ${prefix}/include/string.h $
    ${prefix}/include/time.h $
    ${prefix}/include/stdio.h $
    ${prefix}/include/errno.h $
    ${prefix}/include/limits.h $
    ${prefix}/lib/libc.a

{% endblock %}

# vim: ft=ninja et ts=4 sts=4 sw=4

